section.section.section__goods.goods
  .container
    .goods__header
      .goods__section-title.title Наши журналы
      .goods__wrapper
        .goods__button-prev
        .goods__button-next
  .goods__container.container
    .goods__list.owl-carousel
      .goods__item
        a.goods__img(href="product.html")
          img.goods__img-source(src="./assets/images/goods/redrum.jpeg")
        .goods__content
          a.goods__link(href="product.html")
            .goods__title Redrum #5
          .goods__price 250 руб.
        button.goods__button.button.button_theme_red.button_size_s Купить
      .goods__item
        a.goods__img(href="product.html")
          img.goods__img-source(src="./assets/images/goods/redrum.jpeg")
        .goods__content
          a.goods__link(href="product.html")
            .goods__title Redrum #5
          .goods__price 250 руб.
        button.goods__button.button.button_theme_red.button_size_s Купить
      .goods__item
        a.goods__img(href="product.html")
          img.goods__img-source(src="./assets/images/goods/redrum.jpeg")
        .goods__content
          a.goods__link(href="product.html")
            .goods__title Redrum #5
          .goods__price 250 руб.
        button.goods__button.button.button_theme_red.button_size_s Купить
      .goods__item
        a.goods__img(href="product.html")
          img.goods__img-source(src="./assets/images/goods/redrum.jpeg")
        .goods__content
          a.goods__link(href="product.html")
            .goods__title Redrum #5
          .goods__price 250 руб.
        button.goods__button.button.button_theme_red.button_size_s Купить
      .goods__item
        a.goods__img(href="product.html")
          img.goods__img-source(src="./assets/images/goods/redrum.jpeg")
        .goods__content
          a.goods__link(href="product.html")
            .goods__title Redrum #5
          .goods__price 250 руб.
        button.goods__button.button.button_theme_red.button_size_s Купить
      .goods__item
        a.goods__img(href="product.html")
          img.goods__img-source(src="./assets/images/goods/redrum.jpeg")
        .goods__content
          a.goods__link(href="product.html")
            .goods__title Redrum #5
          .goods__price 250 руб.
        button.goods__button.button.button_theme_red.button_size_s Купить
  