section.section.section__team.team
  .team__container.container
    .team__title.title Наша команда
    .team__list
      .team__item
        .team__img: img.team__img-source(src="https://pp.userapi.com/c638930/v638930089/21ff0/Q_iHlkKJqz8.jpg")
        .team__content
          .team__name Мария Артемьева
          .team__roll Главный редактор
          .team__social
            a.team__social-item.team__social-vk(href="#")
            a.team__social-item.team__social-gplus(href="#")
            a.team__social-item.team__social-fb(href="#")
      .team__item
        .team__img: img.team__img-source(src="https://pp.userapi.com/c626926/v626926955/22844/8_Nn8vV7g9g.jpg")
        .team__content
          .team__name Ярослав Землянухин
          .team__roll Backend разработчик
          .team__social
            a.team__social-item.team__social-vk(href="#")
            a.team__social-item.team__social-gplus(href="#")
            a.team__social-item.team__social-fb(href="#")
      .team__item
        .team__img: img.team__img-source(src="https://pp.userapi.com/c837629/v837629756/626b/hbt9hlTWn8w.jpg")
        .team__content
          .team__name Артем Меньшов
          .team__roll Frontend разработчик
          .team__social
            a.team__social-item.team__social-vk(href="#")
            a.team__social-item.team__social-gplus(href="#")
            a.team__social-item.team__social-fb(href="#")
      .team__item
        .team__img: img.team__img-source(src="https://pp.userapi.com/c633324/v633324021/2594/aoCNuFBKSjk.jpg")
        .team__content
          .team__name Александр Авгур
          .team__roll Главный редактор RedRec
          .team__social
            a.team__social-item.team__social-vk(href="#")
            a.team__social-item.team__social-gplus(href="#")
            a.team__social-item.team__social-fb(href="#")
      .team__item
        .team__img: img.team__img-source(src="https://pp.userapi.com/c638730/v638730688/4c6f0/dbSIZ3MVHJA.jpg")
        .team__content
          .team__name Алексей Шолохов
          .team__roll Зам.главного редактора
          .team__social
            a.team__social-item.team__social-vk(href="#")
            a.team__social-item.team__social-gplus(href="#")
            a.team__social-item.team__social-fb(href="#")
      .team__item
        .team__img: img.team__img-source(src="https://pp.userapi.com/c622830/v622830438/44df3/6heJ8DCqUqY.jpg")
        .team__content
          .team__name Валерий Тищенко
          .team__roll Редактор
          .team__social
            a.team__social-item.team__social-vk(href="#")
            a.team__social-item.team__social-gplus(href="#")
            a.team__social-item.team__social-fb(href="#")
      .team__item
        .team__img: img.team__img-source(src="https://pp.userapi.com/c11510/u14517520/-6/z_99b4b95c.jpg")
        .team__content
          .team__name Максим Филатов 
          .team__roll Редактор сообщества VK
          .team__social
            a.team__social-item.team__social-vk(href="#")
            a.team__social-item.team__social-gplus(href="#")
            a.team__social-item.team__social-fb(href="#")
      .team__item
        .team__img: img.team__img-source(src="https://pp.userapi.com/c633619/v633619280/2327e/54ACh_BAEZw.jpg")
        .team__content
          .team__name Денис Назаров
          .team__roll Дизайнер
          .team__social
            a.team__social-item.team__social-vk(href="#")
            a.team__social-item.team__social-gplus(href="#")
            a.team__social-item.team__social-fb(href="#")

