.navigation
	.navigation__container.container
		ul.navigation__list
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
			a(href="#").navigation__link
				li.navigation__item Ссылка
