script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js")
script(src="https://use.fontawesome.com/7383413395.js")
script(src="./assets/js/plugins/jquery.mousewheel.js")
script(src="./assets/js/plugins/parallax.min.js")
script(src="./assets/js/scripts.js")