footer.section.section__footer.footer
  .footer__container.container
    .footer__wrapper
      //- .footer__banner
      //-   .footer__img
      //-     img.footer__img-source(src="http://i.imgur.com/KG90HG8.gif")
      ul.footer__list
        li.footer__item: a.footer__link(href="#") Вконтакте
        li.footer__item: a.footer__link(href="#") Facebook
        li.footer__item: a.footer__link(href="#") Google+
        li.footer__item: a.footer__link(href="#") Twitter
      ul.footer__list
        li.footer__item: a.footer__link(href="#") HorrorZone
        li.footer__item: a.footer__link(href="#") Horror.ru
        li.footer__item: a.footer__link(href="#") DayZero.com
        li.footer__item: a.footer__link(href="#") artemieva.ru
      
      button.footer__button.button.button_theme_red.button_size_s Написать нам
    
    //- .footer__rest
    p.footer__copyright Redrum 2017