// Extra
// @import "extra/reset"
@import "extra/colors"
@import "extra/reset"

// Fonts
// Regular: 400, Bold: 700
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic")
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic")

// Animations
@import "animations/animations"

// Plugins
@import url("https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
@import url("https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css")

// Blocks
@import "../blocks/popup/popup"
@import "../blocks/background/background"
@import "../blocks/message/message"
@import "../blocks/audioplayer/audioplayer"
@import "../blocks/search/search"
@import "../blocks/title/title"
@import "../blocks/header/header"
@import "../blocks/container/container"
@import "../blocks/buttons/buttons"
@import "../blocks/adbanner/adbanner"
@import "../blocks/all-posts/all-posts"
@import "../blocks/navigation/navigation"
@import "../blocks/goods/goods"
@import "../blocks/user/user"
@import "../blocks/top-news/top-news"
@import "../blocks/team/team"
@import "../blocks/footer/footer"
@import "../blocks/basket/basket"
@import "../blocks/post/post"
@import "../blocks/catalog/catalog"
@import "../blocks/product/product"
@import "../blocks/slider/slider"
@import "../blocks/input/input"

// Others
body
  color: $main
  font-family: 'Noto Sans', sans-serif
  font-weight: 200
  font-size: 100%
  letter-spacing: 0.5px
  background: $bisque
  text-rendering: optimizeLegibility
  opacity: 1
  position: relative
  transition: opacity 200ms ease

a
	color: $red