section.section.section__message.message
  .message__container
    .message__content
      .message__img
        img.message__img-source(src="http://walkerillustration.com/images/514.gif")
      .message__wrapper
        .message__title Добро пожаловать!
        .message__text Вы впервые посетили сайт Redrum. Спасибо! Мы надеемся, что вам будет интересно здесь. Если возникнут какие-либо вопросы воспользуйтесь кнопкой в подвале сайта для обратной связи.
        .message__button.button.button_theme_red.button_size_m Закрыть
        audio.message__audio(src="./assets/sounds/achiva.mp3")