header
	height: 80px

.header
	&__content
		display: inline-flex
		align-items: center
		justify-content: space-between
		width: 100%

	&__left-side
		display: inline-flex
		align-items: center

	&__brand
		height: 80px
		width: 120px
		display: flex
		position: relative
		align-items: flex-start
		justify-content: flex-start
		box-sizing: border-box
		background:
			image: url('../../assets/images/logotype/logotype.svg')
			size: 120px auto
			position: center
			repeat: no-repeat

	&__list
		list-style: none
		margin-left: 30px
		padding: 0
		display: inline-flex

	&__link
		color: #444
		psition: relative
		font-size: 12px
		text-transform: uppercase
		font-weight: 700
		display: block
		margin:
			right: 30px
			left: 0
			top: 0
			bottom: 0
		text-decoration: none

		&:hover .header__item
			&:after
				content: ''
				display: block
				width: 100%
				height: 2px
				margin-top: 10px
				background: #444
				position: absolute

		&_active
			color: #d80000
			psition: relative
			font-size: 14px
			font-weight: 700
			text-transform: uppercase
			display: block
			margin-right: 30px
			text-decoration: none

			&:hover .header__item
				color: #d80000

				&:after
					content: ''
					display: block
					width: 0
					height: 3px
					margin: 10px auto
					background: #d80000
					position: absolute

	&__item
		position: relative

		&:after
			content: ''
			display: block
			width: 0
			height: 3px
			margin-top: 10px
			background: transparent
			position: absolute
			transition: all 200ms ease-in-out

		&:last-child
			margin-right: 0

	&__burger
		position: relative
		z-index: 11
		cursor: pointer

		&:before
			font-size: 28px