header.section.section__header.header
  .header__container.container
    .header__content
      a.header__logo(href="/build") Redrum
      .header__wrapper
        ul.header__list
          li.header__item: a.header__link(href="") Новости
          li.header__item: a.header__link(href="") Блоги
          li.header__item: a.header__link(href="catalog.html") Магазин
          li.header__item: a.header__link(href="") Рубрики
          li.header__item: a.header__link(href="") О нас
      a.header__basket(href="./basket.html") 12