.header__container.container
	.header__content
		.header__left-side
			.header__brand
			ul.header__list
				a.header__link(href="")
					li.header__item Новости
				a.header__link(href="")
					li.header__item Блоги
				a.header__link(href="")
					li.header__item Магазин
				a.header__link(href="")
					li.header__item Рубрики
				a.header__link(href="")
					li.header__item О нас
		.header__right-side
			.header__burger.ion-navicon