.slider-top
	.owl-carousel#owlSlider
		.slider-top__content
			.slider-top__info
				.slider-top__title «Шаг за страх» — методичка о работе со своими и чужими страхами
				.slider-top__text Квинтэссенция теории и практики работы со страхами. Специально для наших читателей мы собрали в компактной методичке материалы о таком мощном явлении, как человеческий страх. Скачивайте, изучайте, практикуйте, задавайте нам вопросы, делитесь методичкой с друзьями.
				button.slider-top__read-more Читать
			img.slider-top__image(src="assets/images/slider/s-02.jpg").slider__item