.popular-posts__container

	.popular-posts__owl-carousel.owl-carousel#owlPopularPosts

		.popular-posts__owl-carousel.popular-posts__item
			a(href="#").popular-posts__owl-carousel.popular-posts__link
				.popular-posts__owl-carousel.popular-posts__item-content
					.popular-posts__owl-carousel.popular-posts__item-content_title Как прошёл шестнадцатый онлайн-курс «Базовый HTML и CSS»
				img.popular-posts__image(src="assets/images/popular-posts/s-01.jpg")

		.popular-posts__owl-carousel.popular-posts__item
			a(href="#").popular-posts__owl-carousel.popular-posts__link
				.popular-posts__owl-carousel.popular-posts__item-content
					.popular-posts__owl-carousel.popular-posts__item-content_title РПЦ отказалась комментировать слова Поклонской о мироточивом бюсте Николая II
				img.popular-posts__image(src="assets/images/popular-posts/s-02.jpg")

		.popular-posts__owl-carousel.popular-posts__item
			a(href="#").popular-posts__owl-carousel.popular-posts__link
				.popular-posts__owl-carousel.popular-posts__item-content
					.popular-posts__owl-carousel.popular-posts__item-content_title Один блестящий и два хороших сериала на выходные «Патриот» о спецслужбах, «Диета из Санта-Клариты» о зомби и спин-офф «Черного списка»
				img.popular-posts__image(src="assets/images/popular-posts/s-03.jpg")

		.popular-posts__owl-carousel.popular-posts__item
			a(href="#").popular-posts__owl-carousel.popular-posts__link
				.popular-posts__owl-carousel.popular-posts__item-content
					.popular-posts__owl-carousel.popular-posts__item-content_title В Совете Федерации предложили запретить рекламу с картой РФ без Крыма
				img.popular-posts__image(src="assets/images/popular-posts/s-04.jpg")

		.popular-posts__owl-carousel.popular-posts__item
			a(href="#").popular-posts__owl-carousel.popular-posts__link
				.popular-posts__owl-carousel.popular-posts__item-content
					.popular-posts__owl-carousel.popular-posts__item-content_title Сирийская армия вошла в Пальмиру. Фотографии
				img.popular-posts__image(src="assets/images/popular-posts/s-05.jpg")

		.popular-posts__owl-carousel.popular-posts__item
			a(href="#").popular-posts__owl-carousel.popular-posts__link
				.popular-posts__owl-carousel.popular-posts__item-content
					.popular-posts__owl-carousel.popular-posts__item-content_title Длинный заголовок поста
				img.popular-posts__image(src="assets/images/popular-posts/s-06.jpg")

	.popular-postsr__owl-carousel.popular-posts__buttons
		button.popular-posts__owl-carousel.popular-posts__button-prev.ion-ios-arrow-left.arrow-prev
		button.popular-posts__owl-carousel.popular-posts__button-next.ion-ios-arrow-right.arrow-next