.write
  .write__container.container
    .write__content
      .write__header
        .write__title.title Заполните поля и отправьте сообщение
        .write__close
      input.write__input.input.input__type-text.input_theme_red(type="text" placeholder="Имя")
      input.write__input.input.input__type-text.input_theme_red(type="text" placeholder="Почта *")
      textarea.write__input.textarea.textarea_theme_red(type="text" placeholder="Сообщение *")
      button.button.button_theme_red.button_size_m Отправить
      