section.section__basket.basket
  .basket__container.container
    .basket__title.title Ваша корзина
    .basket__border
      table(cellpadding="4" cellspacing="4").basket__table
        tr.basket__tr
          td(colspan="1").basket__td
            img.basket__img(src="./assets/images/goods/redrum.jpg")
          td(colspan="2").basket__td.basket__name Альманах Redrum Выпуск #5
          td(colspan="2").basket__td.basket__price 500 руб.
          td(colspan="2").basket__td: a.basket__remove(href="/") Удалить
        tr.basket__tr
          td(colspan="1").basket__td
            img.basket__img(src="./assets/images/goods/redrum.jpg")
          td(colspan="2").basket__td.basket__name Альманах Redrum Выпуск #5
          td(colspan="2").basket__td.basket__price 500 руб.
          td(colspan="2").basket__td: a.basket__remove(href="/") Удалить
        tr.basket__tr
          td(colspan="1").basket__td
            img.basket__img(src="https://s-media-cache-ak0.pinimg.com/originals/ec/7f/13/ec7f13eb80748790bdc7c3c105a445ed.jpg")
          td(colspan="2").basket__td.basket__name Футболка Redrum
          td(colspan="2").basket__td.basket__price 500 руб.
          td(colspan="2").basket__td: a.basket__remove(href="/") Удалить
        tr.basket__tr
          td(colspan="1").basket__td
            img.basket__img(src="./assets/images/goods/redrum.jpg")
          td(colspan="2").basket__td.basket__name Альманах Redrum Выпуск #5
          td(colspan="2").basket__td.basket__price 500 руб.
          td(colspan="2").basket__td: a.basket__remove(href="/") Удалить
        tr.basket__tr
          td(colspan="1").basket__td
            img.basket__img(src="./assets/images/goods/redrum.jpg")
          td(colspan="2").basket__td.basket__name Альманах Redrum Выпуск #5
          td(colspan="2").basket__td.basket__price 500 руб.
          td(colspan="2").basket__td: a.basket__remove(href="/") Удалить
        tr.basket__tr
          td(colspan="1").basket__td
            img.basket__img(src="https://s-media-cache-ak0.pinimg.com/originals/ec/7f/13/ec7f13eb80748790bdc7c3c105a445ed.jpg")
          td(colspan="2").basket__td.basket__name Футболка Redrum
          td(colspan="2").basket__td.basket__price 500 руб.
          td(colspan="2").basket__td: a.basket__remove(href="/") Удалить
    .basket__list
      .basket__item.basket__button.button.button_theme_red.button_size_s Очистить коризну
      .basket__item.basket__button.button.button_theme_red.button_size_s Оформить заказ