section.section.section__banner.banner
	.container
		.banner__section-title.title Статьи
	.banner__container.container
		.banner__img
			img.banner__img-source(src="https://s00.yaplakal.com/pics/pics_original/5/6/6/2588665.jpg")
			.banner__post-content
				.banner__title Самый первый в пост в секскции со всеми статьями!
				.banner__text Здесь две секции. Внизу все посты из всех категорий. Это - самая первая и самая свежая запись из категорий. Справа - Рекламный баннер.
		.banner__img.banner__img_small.banner__img_margin-left
			img.banner__img-source(src="http://iknigi.net/books_files/covers/thumbs_300/13-manyakov-97277.jpg")
