section.section__post.post
  .post__container.container
    .post__left
      h1.post__title Та самая рецензия Стивена Кинга на "Зловещих мертвецов" - впервые на русском!
      .post__information
        .post__information-item.post__information-item_calendar
          .post__date 17.07.2017
        .post__information-item.post__information-item_eye
          .post__view 1029
      p.post__text В июне мы рассказывали вам о судьбоносном отзыве признанного киномана Стивена Кинга, который помог вывести из забвения "Зловещих мертвецов" Сэма Рэйми, позже давших старт культовой для поклонников жанра франшизе. Напоминаем: с фильмом Кинг ознакомился на фестивале в Каннах, где "Мертвецы" произвели фурор, но так и не смогли найти американского прокатчика. Впрочем, после этого отзыва права на выпуск ужастика в Штатах приобрела студия New Line Cinema - и не прогадала. На ресурсе Reddit был выложен полный текст рецензии, но на русский язык она переведена полностью не была - до этого момента. И вот, специально для читателей ЗУ, публикуем первый перевод впечатлений Короля ужасов от одного из лучших хорроров всех времен и народов!
      img(src="http://horrorzone.ru/uploads/_pages2/59993/mini/cover-750-300.jpg")
      p.post__text «Зловещие мертвецы» Почему вы еще не посмотрели этот фильм… и почему вам стоит это сделать. Стивен Кинг
      p.post__text Когда я встретил Сэма Рэйми на Каннском кинофестивале в мае 1982 года, мне в голову пришла мысль, что этот парень мог бы быть либо «мальчиком на побегушках», либо сбежавшим от родителей старшеклассником, либо гением. Что ж, «на побегушках» он не подрабатывал, да и старшую школу уже успел закончить, хотя было в его внешности что-то безвременно «студенческое», отчего бармены наверняка будут спрашивать у него водительские права, пока ему не стукнет хотя бы 35. Свою гениальность ему еще предстоит доказать, но тот факт, что он создал самый до жути оригинальный фильм ужасов 1982 года, сомнению не подлежит. Единственная загвоздка в том, что вы, возможно, никогда его не увидите.
      p.post__text Фарнсуорт Райт, легендарный редактор журнала «Weird Tales» 30-х годов, подтвердил – пусть и неохотно – что ему пришлось отклонить один рассказ, который по его мнению был слишком ужасающим для вкусов аудитории. Это была история Уильяма Хоупа Ходжсона о маньяке, который убивал людей и делал из них суп (похожую идею раскрыл в своём классическом дебютном рассказе «Фирменное блюдо» Стэнли Эллин пятнадцать лет спустя). "Когда история выходит за рамки, её качество уже ничего не значит", объяснил тогда Райт. Именно такая ситуация в данный момент происходит с фильмом Рэйми «Зловещие мертвецы». Внимательно присмотрись к приложенным кадрам, дорогой читатель, потому что большинство крупных американских кинопрокатчиков уже обошли независимое творение Рэйми стороной. Последней из отвергнувших картину была студия Paramount, которая прокатывала успешную (хотя и туповатую) «Пятницу, 13» - их вердикт, как и в случае с Райтом, говорил о «выходе за рамки».
    .post__right
      .post__list
        .post__list-title Другие новости
        .post__item
          .post__date-mini 07.07.2017
          a.post__title-mini(href="#") Появились ранние концепт-арты "System Shock 3"
        .post__item
          .post__date-mini 07.07.2017
          a.post__title-mini(href="#") Бывший шоураннер "Ходячих мертвецов" займется сериалом "Темная башня"
        .post__item
          .post__date-mini 07.07.2017
          a.post__title-mini(href="#") И еще немного Пеннивайза!
        .post__item
          .post__date-mini 07.07.2017
          a.post__title-mini(href="#") Лучшие и худшие альбомы Slipknot по мнению Кори Тейлора
        .post__item
          .post__date-mini 07.07.2017
          a.post__title-mini(href="#") Появились ранние концепт-арты "System Shock 3"
        .post__item
          .post__date-mini 07.07.2017
          a.post__title-mini(href="#") Бывший шоураннер "Ходячих мертвецов" займется сериалом "Темная башня"
        .post__item
          .post__date-mini 07.07.2017
          a.post__title-mini(href="#") И еще немного Пеннивайза!
        .post__item
          .post__date-mini 07.07.2017
          a.post__title-mini(href="#") Лучшие и худшие альбомы Slipknot по мнению Кори Тейлора