section.section.section__top-news.top-news
	.top-news__image
		img.top-news__image-source(src="https://goo.gl/mZn8mT")
	.top-news__container.container
		.top-news__title Новый постер "Американской истории ужасов" - готовы вступить в Культ?
		.top-news__text На днях бессменный шоураннер "Американской истории ужасов" Райан Мёрфи наконец перестал подогревать интригу...
		button.top-news__button.button.button_theme_red.button_size_s Читать новость