include assets/blocks/head/head

body
	include assets/blocks/header/header
		
	main.section
		include assets/blocks/basket/basket

	include assets/blocks/footer/footer
	include assets/blocks/scripts/scripts