include assets/blocks/head/head
body
  include assets/blocks/header/header
  main.section
    include assets/blocks/catalog/catalog
  include assets/blocks/popup/write  
  include assets/blocks/footer/footer
  include assets/blocks/scripts/scripts