include assets/blocks/head/head

body.disable-scroll
	include assets/blocks/preloader/preloader
	include assets/blocks/navigation/navigation

	header
		include assets/blocks/header/header
		
	main
		include assets/blocks/slider/slider
		include assets/blocks/popular-posts/popular-posts
		include assets/blocks/all-posts/all-posts
		include assets/blocks/team/team

	footer

include assets/blocks/scripts/scripts