include assets/blocks/head/head
body
  include assets/blocks/header/header
  
  main
    include assets/blocks/background/background
    include assets/blocks/slider/slider
    include assets/blocks/adbanner/adbanner
    include assets/blocks/all-posts/all-posts
    include assets/blocks/goods/goods
    include assets/blocks/team/team
  
  include assets/blocks/popup/write
  include assets/blocks/footer/footer
  include assets/blocks/scripts/scripts