.all-posts
	.all-posts__container.container
		.all-posts__items-row
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-01.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-02.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-03.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
		.all-posts__items-row
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-04.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-05.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-06.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
		.all-posts__items-row
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-03.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-04.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-06.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
		.all-posts__items-row
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-05.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-01.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-02.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
		.all-posts__items-row
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-04.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-03.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-05.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
		.all-posts__items-row
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-06.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-01.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»
			.all-posts__item
				img.all-posts__image(src='assets/images/popular-posts/s-02.jpg')
				.all-posts__info
					.all-posts__title Что мы слушали в феврале. Плейлист «Медузы»

