section.section.section__all-posts.all-posts
  .all-posts__container.container
    .all-posts__list
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/59459/mini/slipknot-corey-taylor-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_music Музыка
          a.all-posts__title(href="post.html") Лучшие и худшие альбомы Slipknot по мнению Кори Тейлора
          
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/60069/mini/1-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_news Новости
          a.all-posts__title(href="post.html") И еще немного Пеннивайза!
          
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/59953/mini/4-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_news Новости
          a.all-posts__title(href="post.html") Как создавалась обложка романа "Фаталист"
          
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/60074/mini/annabelle2-0-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_news Новости
          a.all-posts__title(href="post.html") Жуткие спойлеры - 8 страшных сцен из фильма "Проклятие Аннабель: Зарождение зла" (ВИДЕО)
      
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/57160/mini/system-shock-3-art-01-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_game Игры
          a.all-posts__title(href="post.html") Появились ранние концепт-арты "System Shock 3"
      
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/60121/mini/2-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_film Кино
          a.all-posts__title(href="post.html") Бывший шоураннер "Ходячих мертвецов" займется сериалом "Темная башня"
      
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/60069/mini/1-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_news Новости
          a.all-posts__title(href="post.html") И еще немного Пеннивайза!
          
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/59459/mini/slipknot-corey-taylor-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_music Музыка
          a.all-posts__title(href="post.html") Лучшие и худшие альбомы Slipknot по мнению Кори Тейлора
          
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/59459/mini/slipknot-corey-taylor-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_music Музыка
          a.all-posts__title(href="post.html") Лучшие и худшие альбомы Slipknot по мнению Кори Тейлора
          
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/60069/mini/1-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_news Новости
          a.all-posts__title(href="post.html") И еще немного Пеннивайза!
          
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/59953/mini/4-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_news Новости
          a.all-posts__title(href="post.html") Как создавалась обложка романа "Фаталист"
          
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/60074/mini/annabelle2-0-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_news Новости
          a.all-posts__title(href="post.html") Жуткие спойлеры - 8 страшных сцен из фильма "Проклятие Аннабель: Зарождение зла" (ВИДЕО)
      
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/57160/mini/system-shock-3-art-01-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_game Игры
          a.all-posts__title(href="post.html") Появились ранние концепт-арты "System Shock 3"
      
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/60121/mini/2-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_film Кино
          a.all-posts__title(href="post.html") Бывший шоураннер "Ходячих мертвецов" займется сериалом "Темная башня"
      
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/60069/mini/1-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_news Новости
          a.all-posts__title(href="post.html") И еще немного Пеннивайза!
          
      .all-posts__item
        .all-posts__info
          .all-posts__date 3 августа 2017
        .all-posts__image
          img.all-posts__image-source(src='http://horrorzone.ru/uploads/_pages2/59459/mini/slipknot-corey-taylor-750-300.jpg')
        .all-posts__content
          .all-posts__category.all-posts__category_music Музыка
          a.all-posts__title(href="post.html") Лучшие и худшие альбомы Slipknot по мнению Кори Тейлора