.catalog
  .catalog__mobile-filters
  .catalog__container.container
    .catalog__category
      .catalog__category-name Журналы
      a.catalog__category-item(href="") Электронные журналы
      a.catalog__category-item(href="") Бумажные журналы
      .catalog__category-name Книги
      a.catalog__category-item(href="") Электронные книги
      a.catalog__category-item(href="") Бумажные книги
      .catalog__category-name Аудио
      a.catalog__category-item(href="") Аудиожурналы
    .catalog__goods
      .catalog__item
        a.catalog__img(href="product.html")
          img.catalog__img-source(src="./assets/images/goods/redrum.jpeg")
        a.catalog__name(href="product.html") Журнал Redrum #5
        .catalog__price 500 руб.
        .catalog__button.button.button_theme_red.button_size_m Купить
      .catalog__item
        a.catalog__img(href="product.html")
          img.catalog__img-source(src="https://s-media-cache-ak0.pinimg.com/originals/ec/7f/13/ec7f13eb80748790bdc7c3c105a445ed.jpg")
        a.catalog__name(href="product.html") Футболка Redrum
        .catalog__price 735 руб.
        .catalog__button.button.button_theme_red.button_size_m Купить

